<div class="jumbotron text-center">
	<h1>Home sweet home</h1>

	<p>{{ tagline }}</p>
	
	<!-- BEGIN MADLIB EXERCISE -->
	<div style="background-color: #000; height: 3px; width: 100%;"></div>
	
	<div ng-controller="MainController">
		<h3>Madlib!</h3>
		<p>
			{{ description_one }}
			<span class="added_info">{{ userinputs.animal }}</span>
			{{ description_two }}
			<span class="added_info">{{ userinputs.object }}</span>
			{{ description_three }}
			<span class="added_info">{{ userinputs.verb }}</span>
			<span class="added_info">{{ userinputs.adverb }}</span>
			{{ description_four }}
		</p>
	
		<form name="madlib_form" action="post">
			<div style="">
				<label for="input_one">Enter an animal:</label>
				<input type="text" name="input_one" ng-model="userinputs.animal" placeholder="animal" />
				<br />
				<br />
				<label for="input_one">Enter an object of great value:</label>
				<input type="text" name="input_two" ng-model="userinputs.object" placeholder="object" />
				<br />
				<br />
				<label for="input_one">Enter a verb (past tense):</label>
				<input type="text" name="input_three" ng-model="userinputs.verb" placeholder="verb" />
				<br />
				<label for="input_one">Enter an adverb:</label>
				<input type="text" name="input_four" ng-model="userinputs.adverb" placeholder="adverb" />
				<br />
				<br />
				<input type="button" name="reset_button" ng-click="reset()" value="Reset Fields" />
				<input type="button" name="submit_button" ng-click="update(userinputs)" value="Save to Database" />
				<input type="button" name="fetch_button" ng-click="fetch()" value="Fetch Input" />
			</div>
		</form>
		<br />
		<br />
		<pre>user inputs = {{ userinputs | json }}</pre>
		<pre>data storage = {{ datastorage | json }}</pre>
	</div>
</div>